<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        	<encoder>
        		<pattern>[%-5level][%d{MM-dd hh:mm:ss}][%c{20}][%L] : %message%n</pattern>
        	</encoder>
        </appender>
        
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        	<file>/app/logs/reserve-server.log</file> <!-- TODO : docker와 같은 container에 올라갈 때 환경변수 같은 방법을 적용할 수 있어야 함.. -->
        	
        	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        		<fileNamePattern>reserve-server-%d{yyyy-MM-dd}.log</fileNamePattern>
        		<maxHistory>7</maxHistory>
      			<totalSizeCap>1GB</totalSizeCap>
        	</rollingPolicy>
        	
        	<encoder>
        		<pattern>[%-5level][%d{MM-dd hh:mm:ss}][%c{20}][%L] : %message%n</pattern>
        	</encoder>
        </appender>

        <root level="DEBUG">
        	<appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
    
    <springProfile name="unit">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        	<encoder>
        		<pattern>[%-5level][%d{MM-dd hh:mm:ss}][%c{20}][%L] : %message%n</pattern>
        	</encoder>
        </appender>
        
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        	<file>./target/logs/reserve-server.log</file> <!-- TODO : docker와 같은 container에 올라갈 때 환경변수 같은 방법을 적용할 수 있어야 함.. -->
        	
        	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        		<fileNamePattern>reserve-server-%d{yyyy-MM-dd}.log</fileNamePattern>
        		<maxHistory>7</maxHistory>
      			<totalSizeCap>1GB</totalSizeCap>
        	</rollingPolicy>
        	
        	<encoder>
        		<pattern>[%-5level][%d{MM-dd hh:mm:ss}][%c{20}][%L] : %message%n</pattern>
        	</encoder>
        </appender>

        <root level="DEBUG">
        	<appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>